.row {
    width: 100%;
    min-height: 400px;
    padding-left: 50px;
    margin: 40px auto;
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/***********************
 Navigation arrows 
 ***********************/

.left_arrow {
    position: absolute;
    width: 70px;
    height: 80%;
    padding-top: 7%;
    text-align: center;
    left: 50px;
    top: 12%;
    z-index: 20;
    color: var(--white);
    font-size: 50px;
}

.right_arrow {
    position: absolute;
    width: 70px;
    height: 80%;
    padding-top: 7%;
    text-align: center;
    right: 0;
    top: 12%;
    z-index: 20;
    color: var(--white);
    font-size: 50px;
}

.left_arrow_icon {
    width: 55px;
    object-fit: contain;
    font-size: 40px;
    margin-top: 20%;
    color: var(--arrowWhite);
    z-index: 30;
    cursor: pointer;
}

.right_arrow_icon {
    width: 55px;
    object-fit: contain;
    font-size: 40px;
    margin-top: 20%;
    color: var(--arrowWhite);
    z-index: 30;
    cursor: pointer;
}

.left_arrow:hover {
    background-color: rgba(0, 0, 0, .7);
    -webkit-mask-image: linear-gradient(to right, var(--black) 72%, transparent 100%);
    mask-image: linear-gradient(to right, var(--black) 72%, transparent 100%);
}

.right_arrow:hover {
    background-color: rgba(0, 0, 0, .7);
    -webkit-mask-image: linear-gradient(to left, var(--black) 72%, transparent 100%);
    mask-image: linear-gradient(to left, var(--black) 72%, transparent 100%);
}

.move_left_arrow {
    left: 0;
}

.move_right_arrow {
    right: 22px;
}

.title {
    font-size: 1.5rem;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 5px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    transition: all .9s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.row_inline_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.poster_container {
    position: relative;
}

.add_container {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 75%;
    top: 5%;
    z-index: 20;
}

.poster::before {
    content: "";
    display: block;
    border-top: 2px solid var(--red);
    opacity: 1;
    transform: scale(0, 1);
    transition: all ease-in 400ms;
}

.posters {
    width: 245px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
}

.posters:hover, .posters:focus, .posters:focus-within {
    transform: scale(1.07);
}

.text_box {
    width: 10%;
    height: 100%;
    background-color: rosybrown;
    text-align: center;
}

/***************************** 
   Media query's up to 1450px
 *******************************/

@media screen and (max-width:1450px) {
    .move_left_arrow {
        left: 0;
    }

    .move_right_arrow {
        right: 0px;
    }
}

/***************************** 
   Media query's up to 1080px
 *******************************/

@media screen and (max-width:1080px) {
    .left_arrow {
        visibility: hidden;
    }

    .right_arrow {
        visibility: hidden;
    }

    .left_arrow_icon {
        display: none;
    }

    .right_arrow_icon {
        display: none;
    }
}

/***************************** 
   Media query's up to 780px
 *******************************/

@media screen and (max-width:780px) and (orientation:landscape) {
    .row {
        padding-left: 10px;
        min-height: 200px;
        margin-top: 70px;
    }

    .add_container {
        left: 65%;
        top: 5%;
    }

    .posters {
        width: 150px;
    }

    .posters:hover, .posters:focus, .posters:focus-within {
        transform: scale(1);
    }
}