.main_container {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/login_background_b.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.black_out {
    width: 100%;
    height: 100vh;
    background-color: rgba(230, 0, 0, 0.8);
}

.login_container {
    width: 450px;
    height: auto;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .82);
}

.signup_container {
    width: 450px;
    height: auto;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .82);
}

.login_wrapper {
    width: 75%;
    height: 90%;
    position: relative;
}

.title {
    font-size: clamp(1.2rem, 1.2rem, 1.2vw);
    color: var(--white);
}

.input_wrapper {
    width: 95%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-radius: 9px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    color: var(--black);
    border: none;
    outline: none;
}

.submit_btn {
    width: 95%;
    font-size: 1.4rem;
    padding: 5px 15px;
    margin-top: 45px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.submit_btn:hover {
    background-color: var(--redHover);
}

.signup_wrapper {
    width: 80%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.error {
    color: var(--red);
    font-size: .9rem;
    margin-left: 10px;
    margin-top: 10px;
    visibility: visible;
}

.invalid_login {
    color: var(--red);
    font-size: .9rem;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 1%;
}

.signup_txt {
    font-size: clamp(1.2rem, 1.2rem, 1.2vw);
    color: var(--grayText);
    margin: auto;
}

.signup {
    font-size: clamp(1.2rem, 1.2rem, 1.2vw);
    color: var(--white);
    margin: auto;
    cursor: pointer;
}

.signup:hover {
    text-decoration: underline;
}

.loader {
    width: 45px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    left: 200px;
}

@media screen and (max-width:680px) {
    .signup_container {
        width: 300px;
        height: 400px;
        top: 60%;
        left: 50%;
        background-color: var(--white);
    }

    .login_container {
        width: 300px;
        height: 400px;
    }

    .login_wrapper {
        width: 90%;
        height: 90%;
        position: relative;
    }

    .input_wrapper {
        margin-bottom: 20px;
    }

    .input {
        width: 100%;
        height: 20px;
    }

    .error {
        font-size: .7rem;
    }

    .invalid_login {
        font-size: .7rem;
        position: absolute;
        top: 41%;
        left: 1%;
    }

    .submit_btn {
        font-size: 1.2rem;
        margin-top: 25px;
    }

    .signup_txt {
        font-size: 1rem;
    }

    .signup {
        font-size: 1rem;
        color: var(--white);
        margin-left: 10px;
    }

    .loader {
        width: 45px;
        object-fit: cover;
        position: absolute;
        bottom: 1px;
        left: 170px;
    }
}

@media screen and (max-width:680px) and (orientation:landscape) {
    .signup_container {
        width: 370px;
        height: 400px;
        background-color: rgba(0, 0, 0, .82);
        top: 5%;
        left: 50%;
        bottom: 340px;
        transform: translate(-50%, 0);
    }

    .login_container {
        width: 400px;
        height: 350px;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .signup_wrapper {
        width: 70%;
        margin-top: 20px;
    }
}

@media screen and (max-width:480px) {
    .signup_container {
        width: 300px;
        height: 400px;
        background-color: rgba(0, 0, 0, .82);
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .login_container {
        width: 300px;
        height: 400px;
    }

    .login_wrapper {
        width: 90%;
        height: 90%;
        position: relative;
    }

    .signup_wrapper {
        width: 90%;
        margin-top: 20px;
    }

    .input_wrapper {
        margin-bottom: 20px;
    }

    .input {
        width: 100%;
        height: 20px;
    }

    .error {
        font-size: .7rem;
    }

    .invalid_login {
        font-size: .7rem;
        position: absolute;
        top: 48%;
        left: 1%;
    }

    .submit_btn {
        font-size: 1.2rem;
        margin-top: 25px;
    }

    .signup {
        font-size: 1rem;
        color: var(--white);
        margin-left: 10px;
    }

    .loader {
        width: 45px;
        object-fit: cover;
        position: absolute;
        bottom: 1px;
        left: 170px;
    }
}