/*************************
* CSS TABLE OF CONTENTS
*
* 1.0 LANDING IMAGE
* 2.0 MAIN MOVIE INFO
*   2.1 TITLE
*   2.2 TRAILER
*   2.3 MOVIE INFO
*   2.4 RATINGS
*   2.5 DESCRIPTION
* 3.0 CAST
* 4.0 STREAMING LOGO
 *************************/


/* 2.0 MAIN MOVIE INFO */

.movie_info_wrapper {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 30px;
}


.add_movie {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1.5px;
    right: 1px;
}

/* 2.3 MOVIE INFO */



/* 2.4 RATINGS */

.movie_ratings_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}



/* 4.0 STREAMING LOGO*/

.logo_text {
    font-size: .78em;
    display: inline-block;
    color: var(--white);
}

.logo {
    width: 120px;
    max-height: 50px;
    object-fit: contain;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: inline-block;
    margin-left: 15px;
}

.non_filter {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}




/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .recommended {
        margin-bottom: 80px;
    }
}