.movie_info {
    width: 60%;
    margin: 25px 0px;
    text-align: left;
}

.year::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--white);
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 2px;
}

.year {
    font-size: .7em;
    color: var(--white);
    display: inline-block;
    margin-right: 10px;
}

.episodes::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--white);
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 2px;
}

.episodes {
    font-size: .7em;
    color: var(--white);
    display: inline-block;
    margin-right: 10px;
}

.rated {
    font-size: clamp(.2em, 4vw, .8em);
    color: var(--white);
    border: 1px solid var(--white);
    display: inline-block;
    margin-right: 10px;
    padding: 0px 3px;
    font-family: 'Arvo', serif;
}

.runtime::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--white);
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 2px;
}

.runtime {
    font-size: .7em;
    color: var(--white);
    display: inline-block;
    margin-right: 10px;
}

.genre::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--white);
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 2px;
}

.genre {
    font-size: .7em;
    color: var(--white);
    display: inline-block;
    margin-right: 10px;
}

.movie_ratings_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.wrap {
    width: auto;
    position: relative;
    padding: 5px;
    display: flex;
    align-items: baseline;
    margin-right: 30px;
}

.rating_logo {
    width: 65px;
    height: 40px;
    display: inline;
    margin-right: 20px;
}

.rating {
    font-size: clamp(.6em, 4vw, .8em);
    color: var(--white);
    display: inline;
}

/* 2.5 DESCRIPTION */

.plot_wrapper {
    width: 60%;
    margin-top: 10px;
}

.plot {
    font-size: clamp(.6em, 4vw, .8em);
    color: var(--white);
}

/* 4.0 STREAMING LOGO*/

.logo_text {
    font-size: .78em;
    display: inline-block;
    color: var(--white);
}

.logo {
    width: 120px;
    max-height: 50px;
    object-fit: contain;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: inline-block;
    margin-left: 15px;
}

.non_filter {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

/* MEDIA QUERY MAX-WIDTH:1300 */

@media screen and (max-width:1300px) {

    .movie_info_wrapper {
        padding: 15px;
        position: absolute;
        top: 30%;
        left: 2%;
        font-size: 20px;
    }

    .movie_info {
        width: 100%;
        font-size: 27px;
    }

    .plot_wrapper {
        width: 90%;
    }




}

/* MEDIA QUERY MAX-WIDTH:980 */

@media screen and (max-width:980px) {


    .movie_info_wrapper {
        width: 98%;
        padding: 15px;
        position: absolute;
        top: 15%;
        left: 2%;
        font-size: 16px;
    }

    .movie_info {
        width: 100%;
        font-size: 23px;
    }

    .plot_wrapper {
        width: 90%;
    }




}

/* MEDIA QUERY MAX-WIDTH:780*/

@media screen and (max-width:780px) {


    .movie_info_wrapper {
        width: 100%;
        padding: 15px;
        position: absolute;
        top: 25%;
        left: 2%;
        font-size: 16px;
    }

    .movie_info {
        width: 100%;
        font-size: 23px;
    }

    .rating_logo {
        width: 40px;
        height: 30px;
    }


    .plot_wrapper {
        width: 90%;
    }


}

/* MEDIA QUERY MAX-WIDTH:480 */

@media screen and (max-width:480px) {

    .movie_info_wrapper {
        width: 100%;
        padding: 15px;
        position: absolute;
        top: 25%;
        left: .5%;
        font-size: 16px;
    }

    .movie_ratings_wrapper {
        width: 220px;
        margin-top: -10px;
    }

    .wrap {
        flex-wrap: wrap;
        margin-right: 10px;
    }

    .rating_logo {
        width: 40px;
        height: 25px;
    }

    .genre {
        font-size: .7em;
        color: var(--white);
        display: inline-block;
        margin-right: 1px;
    }

    .movie_info {
        width: 100%;
        font-size: 17px;
    }

    .plot_wrapper {
        width: 90%;
    }

}