.container {
    width: 100px;
    padding: 1px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all .4s ease-in-out;
}

.container:hover .logout {
    display: block;
}

.container:hover .p {
    display: none;
}

.p {
    color: var(--white);
    transition: all .4s ease-in-out;
}

.logout {
    display: none;
    color: var(--white);
    transition: all .4s ease-in-out;
}