.header {
    color: var(--white);
    font-size: 2.5rem;
    margin-top: 100px;
    margin-left: 40px;
}

.loading {
    width: 500px;
    height: auto;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty_list {
    width: 80%;
    line-height: 3rem;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    color: rgb(121, 121, 121);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link {
    color: var(--white);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.icons {
    width: 5%;
    object-fit: contain;
    font-size: 5rem;
    object-fit: contain;
    color: rgb(88, 88, 88);
}

@media screen and (max-width:1120px) {
    .movie_container {
        width: 97%;
        min-height: 200px;
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 110px;
    }
}

@media screen and (max-width:1000px) {
    .movie_container {
        padding-bottom: 120px;
        justify-content: center;
    }
    .empty_list {
        font-size: 1rem;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
    .icons {
        width: 15%;
        font-size: 2rem;
    }
}

@media screen and (max-width:700px) and (orientation:landscape) {
    .empty_list {
        font-size: 1rem;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -45%);
        margin-bottom: 40px;
    }
    .icons {
        width: 8%;
        font-size: 2rem;
    }
}

@media screen and (max-width:700px) {
    .movie_container {
        width: 90%;
        justify-content: center;
        padding-bottom: 60px;
    }
}